// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.script {font-family:Monaco, Courier, fixed; color:#444466; background-color: #eeeeff; margin-left: 5px; padding: 5px;}
.script-replace {font-style: italic; color:#883333;border: 1px solid #aa0000}

smaller {font-size: smaller}
